@charset "utf-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    background-color: #F8F3E9;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.titperfil2 {
    color: #000000;
    font-family: "Cascadia Code";
    font-size: 58px;
    margin-left: 814px;
    padding-left: 0px;
    width: auto;
    height: 52px;
    margin-top: -264px;
    float: left;
}
.contenedor1 {
    background-color: #F8F3E9;
    position: static;

}
.contenedor2 {
    background-color: #F8F3E9;
}
.fondfooter {
    background-image: url(../img/fondfooter.svg);
    width: 100%;
    height: 326px;
    background-repeat: no-repeat;
    background-size: cover;
    position: static;
    margin-top: 646px;
    bottom: 0px;
}
.fondfooter .escribeme {
    color: #FFFFFF;
    font-family: "Cascadia Code";
    font-size: 90px;
    float: left;
    padding-left: 30px;
    padding-top: 51px;
    padding-bottom: 28px;
}
.header {
    background-color: #F7F6F5;
    height: 70px;
    width: 100%;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    position: fixed;
    top: 0%;
	
	}
.logo {
    width: 50px;
    height: 50px;
    background-image: url(../img/Recurso%201.png);
    background-repeat: no-repeat;
    background-position: 5px 5px;
    position: absolute;
    top: 15px;
    float: left;
    right: 5%;
}
.fotperfil {
    float: left;
    width: auto;
    height: 420px;
    margin-left: 154px;
    margin-top: 148px;
}
.titperfil {
    color: #000000;
    font-family: "Cascadia Code";
    float: left;
    margin-top: 390px;
    font-size: 113px;
    margin-left: 50px;
    width: auto;
    height: 94px;
}
.btnconocemas {
    margin-left: 853px;
    background-image: url(../img/disbtn1.svg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #000000;
    font-family: "Cascadia Code";
    width: 148px;
    height: 20px;
    padding-top: 18px;
    padding-right: 18px;
    padding-bottom: 18px;
    padding-left: 18px;
    text-align: center;
    clear: both;
    float: left;
    margin-top: -128px;
    cursor: pointer;
}
.btnconocemas:hover {
    margin-left: 853px;
    background-image: url(../img/disbtn1.svg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #000000;
    font-family: "Cascadia Code";
    width: 148px;
    height: 20px;
    padding-top: 18px;
    padding-right: 18px;
    padding-bottom: 18px;
    padding-left: 18px;
    text-align: center;
    background-color: #F0F0F0;
    position: static;
}
.quiensoy {
    clear: left;
    color: #000000;
    font-family: "Cascadia Code";
    font-size: 101px;
    padding-top: 225px;
    float: left;
    padding-left: 60px;

}
.lineavert {
    background-size: cover;
    width: 13px;
    float: left;
    margin-top: 223px;
    margin-left: 181px;
}
.parrperfil {
    color: #000000;
    font-family: Rubik;
    font-size: 25px;
    float: left;
    padding-top: 0px;
}
.titprogramas {
    color: #000000;
    font-family: "Cascadia Code";
    font-size: 104px;
    clear: left;
    text-align: center;
}
.fondprogra {
    background-image: url(../img/fondprogram.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 1336px;
    height: 650px;
    margin-left: 295px;
    margin-top: 82px;
    margin-right: 260px;
}
.ai {
    padding-left: 133px;
    padding-top: 90px;
    float: left;
    width: auto;
    height: 170px;
}
.psd {
    float: left;
    margin-top: 99px;
    margin-left: 201px;
    width: auto;
    height: 170px;
}
.afteff {
    width: auto;
    height: 170px;
    margin-top: 99px;
    margin-left: 201px;
}
.articulate {
    width: auto;
    height: 170px;
    margin-top: 88px;
    margin-left: 355px;
}
.premiere {
    width: auto;
    height: 170px;
    margin-left: 266px;
}
.insta:hover {
    width: auto;
    height: 35px;
    float: left;
    clear: left;
    background-image: url(../img/intaavajo.png);
    background-size: 41px auto;
    background-position: 19% 0%;
    margin-left: 46px;
}
.ilustalad {
    padding-right: 15px;
    padding-bottom: 26px;
}
.ilustalad:hover {
    width: auto;
    height: 412px;
    padding-top: 0px;
    background-image: url(../img/fondoilust@2x.png);
    background-position: -3% -3%;
    background-repeat: no-repeat;
    background-size: 319px auto;
    padding-bottom: 26px;
}


.insta {
    width: auto;
    height: 35px;
    float: left;
    clear: left;
    margin-left: 34px;
}
.twitter {
    width: auto;
    height: 35px;
    float: left;
    padding-left: 30px;
}
.twitter:hover {
    width: auto;
    height: 35px;
    float: left;
    padding-left: 30px;
    background-image: url(../img/twiterabj.svg);
    background-repeat: no-repeat;
    background-size: 42px auto;
    background-position: 83% 0%;
}
.behance {
    width: auto;
    height: 35px;
    float: left;
    margin-left: 30px;
}
.behance:hover {
    width: auto;
    height: 35px;
    float: left;
    margin-left: 30px;
    background-image: url(../img/behanceabaj.svg);
    background-repeat: no-repeat;
    background-size: 52px auto;
    cursor: pointer;
}
.formnombre {
    margin-left: 294px;
    margin-top: 60px;
    background-color: #F8F3E9;
    font-family: Rubik;
    width: auto;
    height: 31px;
    text-indent: 20px;
}
.formcelular {
    margin-left: 294px;
    margin-top: 15px;
    width: 585px;
    height: 31px;
    background-color: #F8F3E9;
    font-family: Rubik;
    text-indent: 20px;
}
.formtext {
    margin-left: 294px;
    margin-top: 15px;
    height: 88px;
    background-color: #F8F3E9;
    font-family: Rubik;
    text-indent: 20px;
}
.enviar {
    background-color: #000000;
    color: #F8F3E9;
    font-family: Rubik;
    margin-left: 798px;
    margin-top: 16px;
    width: 96px;
    height: 26px;
}
.flecha {
    float: right;
    width: auto;
    height: 61px;
    margin-right: 24px;
    margin-top: -54px;
    cursor: pointer;
}
.menu {
    font-family: "Cascadia Code";
    width: 30%;
    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-left: -250px;
}
#btn_menu:checked ~ .menu {
    transition: all 300ms;
    margin-left: 3px;

}

.menu li a{
    color: #F8F3E9;
    font-family: "Cascadia Code";
    text-decoration: none;
}
.menu li {
    font-family: "Cascadia Code";
    text-decoration: none;
    white-space: normal;
    vertical-align: baseline;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    border-top: 1px solid #F8F3E9;
    color: #F8F3E9;
	
}

.header .btninicio {
    float: right;
    color: #F8F3E9;
    font-family: Rubik;
    margin-right: 27px;
    height: 26px;
    background-color: #000000;
    position: fixed;
    right: 1px;
    text-align: center;
    margin-top: 16px;
    padding-right: 20px;
    padding-bottom: 0px;
    padding-left: 22px;
    padding-top: 12px;
    width: 72px;
    cursor: pointer;
    transition: all;
}
.header .btninicio:hover  {
    float: right;
    color: #F8F3E9;
    font-family: Rubik;
    margin-right: 27px;
    height: 26px;
    background-color: #019DAE;
    position: fixed;
    right: 1px;
    text-align: center;
    margin-top: 16px;
    padding-right: 20px;
    padding-bottom: 0px;
    padding-left: 22px;
    padding-top: 12px;
    width: 72px;
    cursor: pointer;
    transition: all;
}

.menu li a:hover {
    text-decoration: underline;

}
.textbtnconocemas {
    color: #000000;
    text-decoration: none;
    font-family: "Cascadia Code";
}
.menu ul {
    background-color: #000000;
}



@media (min-width: 700px){
.header {
    background-color: #F7F6F5;
    height: 70px;
    width: 100%;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    position: fixed;
    top: 0%;
}
.contenedor1 {
    background-color: #F8F3E9;
    position: static;
}
.titperfil {
    color: #000000;
    font-family: "Cascadia Code";
    float: left;
    margin-top: 390px;
    font-size: 113px;
    margin-left: 50px;
}
.titperfil2 {
    color: #000000;
    font-family: "Cascadia Code";
    font-size: 58px;
    margin-left: 814px;
    padding-left: 0px;
    width: auto;
    height: 52px;
    margin-top: -264px;
    float: left;
}
.btnconocemas {
    margin-left: 853px;
    background-image: url(../img/disbtn1.svg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #000000;
    font-family: "Cascadia Code";
    width: 148px;
    height: 20px;
    padding-top: 18px;
    padding-right: 18px;
    padding-bottom: 18px;
    padding-left: 18px;
    text-align: center;
    clear: both;
    float: left;
    margin-top: -128px;
    cursor: pointer;
}
.btnconocemas:hover {
    margin-left: 853px;
    background-image: url(../img/disbtn1.svg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #000000;
    font-family: "Cascadia Code";
    width: 148px;
    height: 20px;
    padding-top: 18px;
    padding-right: 18px;
    padding-bottom: 18px;
    padding-left: 18px;
    text-align: center;
    background-color: #F0F0F0;
    position: static;
}
.contenedor2 {
    background-color: #F8F3E9;
}
.quiensoy {
    clear: left;
    color: #000000;
    font-family: "Cascadia Code";
    font-size: 101px;
    float: left;
    margin-left: 5%;
}
.lineavert {
    background-size: cover;
    width: 13px;
    float: left;
    margin-top: 223px;
    margin-left: 5%;
}
.parrperfil {
    color: #000000;
    font-family: Rubik;
    font-size: 25px;
    padding-left: 22%;
    padding-top: 0px;
    float: left;
}
header label {
    display: none;
}

.titprogramas {
    color: #000000;
    font-family: "Cascadia Code";
    font-size: 104px;
    clear: left;
    padding-top: 267px;
    text-align: center;
}
.logo {
    width: 50px;
    height: 50px;
    background-image: url(../img/Recurso%201.png);
    background-repeat: no-repeat;
    background-position: 5px 5px;
    position: absolute;
    top: 15px;
    float: left;
    right: 5%;
}
.fondprogra {
    background-image: url(../img/fondprogram.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 1322px;
    height: 650px;
    margin-top: 82px;
    margin-left: 248px;
}
.ai {
    padding-left: 133px;
    padding-top: 90px;
    float: left;
    width: auto;
    height: 170px;
}
.psd {
    float: left;
    margin-top: 99px;
    margin-left: 201px;
    width: auto;
    height: 170px;
}
.afteff {
    width: auto;
    height: 170px;
    margin-top: 99px;
    margin-left: 201px;
}
.articulate {
    width: auto;
    height: 170px;
    margin-top: 88px;
    margin-left: 355px;
}
.premiere {
    width: auto;
    height: 170px;
    margin-left: 266px;
}
.fondfooter {
    background-image: url(../img/fondfooter.svg);
    width: 100%;
    height: 326px;
    background-size: cover;
    position: static;
    background-repeat: no-repeat;
    clear: left;
}
.parrperfil {
    color: #000000;
    font-family: Rubik;
    font-size: 25px;
    margin-right: 40px;
    text-align: left;
    float: left;
    margin-top: -67px;
    margin-left: 25%;
}
.parrperfil1 {
    color: #000000;
    font-family: Rubik;
    font-size: 25px;
    margin-right: 40px;
    text-align: left;
    float: left;
    margin-top: -200px;
    margin-left: 58%;
}


.fondfooter .escribeme {
    color: #FFFFFF;
    font-family: "Cascadia Code";
    font-size: 90px;
    float: left;
    padding-left: 30px;
    padding-top: 51px;
    padding-bottom: 28px;
}
.insta {
    width: auto;
    height: 35px;
    float: left;
    clear: left;
    margin-left: 34px;
}
.twitter {
    width: auto;
    height: 35px;
    float: left;
    padding-left: 30px;
}
.behance {
    width: auto;
    height: 35px;
    float: left;
    margin-left: 30px;
}
.formnombre {
    margin-left: 294px;
    margin-top: 60px;
    background-color: #F8F3E9;
    font-family: Rubik;
    width: auto;
    height: 31px;
    text-indent: 20px;
}
.formcelular {
    margin-left: 294px;
    margin-top: 15px;
    width: 585px;
    height: 31px;
    background-color: #F8F3E9;
    font-family: Rubik;
    text-indent: 20px;
}
.formtext {
    margin-left: 294px;
    margin-top: 15px;
    height: 88px;
    background-color: #F8F3E9;
    font-family: Rubik;
    text-indent: 20px;
}
.enviar {
    background-color: #000000;
    color: #F8F3E9;
    font-family: Rubik;
    margin-left: 798px;
    margin-top: 16px;
    width: 96px;
    height: 26px;
}




.fotperfil {
    float: left;
    width: 409px;
    height: auto;
    margin-top: 240px;
    margin-left: 353px;
}
.flecha {
    float: right;
    width: auto;
    height: 61px;
    margin-right: 24px;
    margin-top: -54px;
    cursor: pointer;
}
.menu {
    display: inline-block;
    float: left;
    font-family: "Cascadia Code";
    margin-left: 23%;
}
.parrcun {
    color: #000000;
    font-family: Rubik;
    font-size: 25px;
}
.cun {
    width: auto;
    height: 108px;
    margin-left: 20%;
    margin-top: 79px;
    padding-top: 23px;
    clear: left;
    float: left;
}
.transmi {
    clear: left;
    width: auto;
    height: 71px;
    padding-top: 196px;
    float: left;
    margin-left: 20%;
}
.tech {
    width: auto;
    height: 82px;
    margin-left: 20%;
    margin-top: 79px;
    padding-top: 0px;
    clear: left;
    float: left;
    padding-bottom: 0px;
}



.parrtech {
    color: #000000;
    font-family: Rubik;
    font-size: 25px;
    text-align: left;
}


.menu li a {
    color: black;
    font-family: "Cascadia Code";
    text-decoration: none;
}
.menu li a:hover  {
    color: black;
    font-family: "Cascadia Code";
    text-decoration: underline;
}
.menu li {
    display: inline-block;
    text-align: center;
    line-height: 50px;
    font-family: "Cascadia Code";
    color: #000000;
    text-decoration: none;
    white-space: normal;
    padding-right: 85px;
    vertical-align: baseline;
}
.menu ul {
    display: flex;
    flex-direction: row;
    background-color: #F7F6F5;
}
.imghelado {
    width: auto;
    height: 412px;
    float: left;
    padding-bottom: 9px;
    clear: left;
    margin-top: 125px;
    margin-left: 17%;
    padding-top: 0px;
}
.imgflaut {
    width: auto;
    height: 412px;
    padding-top: 0px;
    float: left;
    margin-top: 125px;
}
.imgcolom {
    float: left;
    margin-top: 125px;
}
.imgdonk {
    float: left;
    width: auto;
    height: 412px;
    margin-left: 17%;
    padding-right: 24px;

}
.ilustalad {
    float: left;
    width: auto;
    height: 412px;
    margin-left: 85px;
}
.ilustcombi {
    float: left;
    width: auto;
    height: 412px;
}









}
.imgdonk:hover {
    float: left;
    width: auto;
    height: 412px;
    padding-top: 0px;
    padding-bottom: 22px;
    background-image: url(../img/fondoilust@2x.png);
    background-position: 17% 3%;
    background-size: 315px auto;
    background-repeat: no-repeat;

}
.imghelado {
}
.imghelado {
    padding-right: 8px;
}
#btn_menu {
    display: none;
}

.menhambur {
    width: auto;
    height: 37px;
    margin-top: 6px;
    margin-left: 4px;
}
.header label {
    cursor: pointer;
}
.tech {
    width: auto;
    height: 82px;
    margin-left: 20%;
    margin-top: 79px;
    padding-top: 0px;
    clear: left;
    float: left;
    padding-bottom: 0px;
}
.cun  {
    width: auto;
    height: 108px;
    margin-left: 20%;
}
.parrcun {
    color: #000000;
    font-family: Rubik;
    font-size: 25px;
    float: left;
    margin-top: -96px;
    margin-left: 47%;
}


.parrtech {
    color: #000000;
    font-family: Rubik;
    font-size: 25px;
    float: right;
    margin-left: 47%;
    margin-top: -70px;
}


.bolitas {
    background-size: cover;
    background-repeat: no-repeat;
    width: auto;
    height: 54px;
    float: left;
    padding-top: 243px;
    padding-left: 55px;
}
.transmi {
    clear: left;
    width: auto;
    height: 71px;
    padding-top: 196px;
    float: left;
    margin-left: 20%;
}
.imghelado:hover {
    width: auto;
    height: 412px;
    float: left;
    background-image: url(../img/fondoilust@2x.png);
    background-repeat: no-repeat;
    background-size: 309px auto;
    background-position: 12px 39%;
    padding-bottom: 22px;
}
.imgcolom {
    width: auto;
    height: 412px;
    padding-left: 100px;
    padding-right: 22px;
    padding-bottom: 20px;
}
.imgcolom:hover {
    width: auto;
    height: 412px;
    padding-left: 100px;
    padding-right: 22px;
    padding-bottom: 20px;
    background-image: url(../img/fondoilust@2x.png);
    background-position: 110px 12px;
    background-size: 309px auto;
    background-repeat: no-repeat;
}
.imgflaut {
    width: auto;
    height: 412px;
    padding-top: 0px;
    padding-left: 100px;
    padding-bottom: 22px;
    padding-right: 18px;
}
.imgflaut:hover {
    width: auto;
    height: 412px;
    padding-top: 0px;
    padding-left: 100px;
    padding-bottom: 22px;
    background-image: url(../img/fondoilust@2x.png);
    background-repeat: no-repeat;
    background-position: 109px 37%;
    background-size: 309px auto;
}
.parrperfil1 {
    font-family: Rubik;
}
.ilustcombi {
    padding-right: 9px;
    padding-bottom: 16px;
    margin-left: 108px;
}
.ilustcombi:hover {
    background-image: url(../img/fondoilust@2x.png);
    background-position: -25% 3%;
    background-repeat: no-repeat;
    background-size: 320px auto;
}
